.main-section {
    @media (max-width: 577px) {
        .underline {
            margin: 0 auto;
        }

        .title-text {
            width: 90%;
            margin: 0 auto;
            text-align: center;
        }
    }
}

.section-program {
    background-color: #232323;

    .container_80 {
        padding: 70px 0px 50px;
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid #393939;
    }

}

.section-steps {
    padding: 50px 0px 70px;
    background-color: #232323;

    .card-deal {
        transition: all 0.5s ease;
        /* Transición suave para todas las propiedades */
    }

    .card-deal:hover {
        h3 {
            font-size: 26px;
        }

        p {
            font-size: 18px;
        }
    }
}

.section-join {
    background-image: url('../../../assets/images/city-car1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .text-body {
        color: #cfd4da !important;
        width: 50%;
    }

    @media (max-width: 577px) {
        padding-bottom: 30px;

        .text-body {
            width: 90%;
        }
    }
}

.layer-blur {
    padding: 70px 0px;
    backdrop-filter: blur(4px);
    /* Ajusta el valor de desenfoque según tus preferencias */
    background-color: rgba(251, 250, 250, 0.151);
    /* Ajusta el color de fondo y la opacidad según tus preferencias */
}

.underline {
    width: 130px;
    height: 10px;
    border-top: 3px solid #C61504;
}

.card-deal {
    max-width: 320px;
}

.btn-primary {
    background-color: #C61504 !important;
    border: 1px #C61504;
    padding: 13px 29px;

    &:hover {
        background-color: #c07069 !important;
    }
}

.buttonBox {
    // margin: 0 20px 40px;
    position: relative;
    width: 100%;
    // max-width: 200px;
    // min-width: 150px;
    flex: 20%;

}

#fifth {
    overflow: hidden;
    padding: 13px 29px;
    background-color: #C61504;
    border: 1px solid #C61504;
    color: #cfd4da;
    transition: all .4s ease-in-out;
}

#fifth:before {
    content: " ";
    display: block;
    width: 200px;
    height: 80px;
    background: rgba(255, 255, 255, .4);
    position: absolute;
    top: -10px;
    left: -200px;
    transform: rotate(-45deg);
    transition: all .4s ease-in-out;
}

#fifth:hover:before {
    margin-left: 300%;
}

#fifth:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}

.close-btn {
    position: absolute;
    top: 13px;
    right: 13px;

    &:hover{
        cursor: pointer;
        color: #787878;
    }
}