<app-breadcrumb [title]="'Gallery'" [breadcrumb]="'Gallery'"></app-breadcrumb>
<!-- section start -->
<section class="filter-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title1 mt-5">
                    <h2 class="title-inner1">gallery</h2>
                </div>
                <div class="filter-container isotopeFilters">
                    <ul class="list-inline filter">
                        <li [class.active]="galleryFilter == 'all'"><a href="javascript:void(0)"
                                (click)="filter('all')">All </a></li>
                        <li [class.active]="galleryFilter == 'muscle'"><a href="javascript:void(0)"
                                (click)="filter('muscle')">Muscle</a></li>
                        <li [class.active]="galleryFilter == 'motorcycle'"><a href="javascript:void(0)"
                                (click)="filter('motorcycle')">Motorcycles</a></li>
                        <li [class.active]="galleryFilter == 'classic'"><a href="javascript:void(0)"
                                (click)="filter('classic')">Classic</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="portfolio-section pt-0 port-col zoom-gallery">
    <div class="container">
        <div class="row isotopeContainer">
            <div class="col-lg-4 col-sm-6 isotopeSelector" [ngClass]="galleryFilter" *ngFor="let image of Images">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a href="javascript:void(0)" (click)="openModal(image.modal.img)">
                            <img [src]="image.modal.img" (load)="imageCloaded()" (error)="cargarImagenPorDefecto(image)"
                                style="height: auto" class="img-fluid" />

                            <div *ngIf="mostrarImagenDeCarga && !imagenCargada" class="p-5" >
                                <img src="assets/images/spinner_loader.gif"  alt="Cargando..."/>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<app-image-modal [show]="showModal" [imageUrl]="selectedImageUrl" (closeModal)="closeModal()"></app-image-modal>